<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- The setting of the log output format for the log file section -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline %nDateTime : %date %nThread ID : [%thread%] %nLevel : %-5level %nClass : %logger %nMessage : %message %newline %n" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  
  <!-- connection string -->
  <connectionStrings>
    <add name="sqlserver" connectionString="Password=lc45213?;Persist Security Info=True;User ID=sa;Initial Catalog=oesdata;Data Source=."/>
  </connectionStrings>
  <system.serviceModel>
    
    <!-- end point config -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="OnlineExamSystem.BAL.UserService">
        <endpoint address="" binding="basicHttpBinding" contract="Contract.IUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/service/userservice"/>
          </baseAddresses>
        </host>
      </service>
      <service name="OnlineExamSystem.BAL.ExamService">
        <endpoint address="" binding="basicHttpBinding" contract="Contract.IExamService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/service/examservice"/>
          </baseAddresses>
        </host>
      </service>
      <service name="OnlineExamSystem.BAL.AnswerSheetService">
        <endpoint address="" binding="basicHttpBinding" contract="Contract.IAnswerSheetService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/service/answersheetservice"/>
          </baseAddresses>
        </host>
      </service>
      <service name="OnlineExamSystem.BAL.QuestionService">
        <endpoint address="" binding="basicHttpBinding" contract="Contract.IQuestionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/service/questionservice"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
