<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- The setting of the log output format for the log file section -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%newline %nDateTime : %date %nThread ID : [%thread%] %nLevel : %-5level %nClass : %logger %nMessage : %message %newline %n"/>
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  
  
  <appSettings>
    <add key="rememberUserName" value=""/>
    <add key="rememberPassword" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client>
      <endpoint address="http://localhost:8765/service/userservice"
        binding="basicHttpBinding" contract="Contract.IUserService"
        name="userservice" />
      <endpoint address="http://localhost:8765/service/examservice"
        binding="basicHttpBinding" contract="Contract.IExamService"
        name="examservice" />
      <endpoint address="http://localhost:8765/service/answersheetservice"
        binding="basicHttpBinding" contract="Contract.IAnswerSheetService"
        name="answersheetservice" />
      <endpoint address="http://localhost:8765/service/questionservice"
        binding="basicHttpBinding" contract="Contract.IQuestionService"
        name="questionservice" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
